{% extends "site/base.layout.twig" %}


{% block content %}

 <section class="login">
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6">
          <div class="p-5">
              <h1 class="text-center">Page not found</h1>
              <p class="d-flex text-center justify-content-center">The page you are looking for cannot be found.</p>  
              <!-- <div class="d-flex justify-content-center">
                <a class="text-center text-center btn btn-primary" href="/{{ previous }}">Take Me Back</a>  
              </div> -->
            </div>
      </div>
      <div class="col-md-3"></div>
    </div>    
</section>

{% endblock %}
