{% extends "site/base.layout.twig" %}


{% block content %}

 <section class="login">
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6">
          <div class="p-5">
              <h1 class="text-center">An &nbsp; internal &nbsp; error &nbsp; occurred.</h1>
              <p class="d-flex text-center justify-content-center">
                An internal error occurred, please try again later.
              </p>  
             
            </div>
      </div>
      <div class="col-md-3"></div>
    </div>    
</section>

{% endblock %}
