{% extends "site/base.layout.twig" %}


{% block banner_addition %} 
{% endblock %}

{% block content %}

 <section class="" style="background-color:#fff">
    <div class="row p-5">
      <div class="col-md-1 col-sm-1"></div>
      <div class="col-md-10 col-sm-10">
          <p class="light-text">{{ message|raw|nl2br }}</p>
      </div>
      <div class="col-md-1 col-sm-1"></div>
    </div>    
</section>

{% endblock %}
