{% extends "site/base.layout.twig" %}


{% block content %}
  {% if post %}
     <section class="single-blog">

        <div class="post-content row">
          <div class="col-12 p-0 text-center">
              <h2 class="ws-8">{{ post['title'] }} </h2>
          </div>
            <div class="col-md-1"></div>
            <div class="col-md-10 content">
                    <p class="font-italic"><i class="fa fa-calendar"></i>
                      updated {{ human_time(post.updated_at|date("d-m-Y H:i:s")) }}
                    </p>
                    <p class="text-justify">{{ post['content'] | raw }}</p>
            </div>
            <div class="col-md-1"></div>     
        </div>   
        <div class="text-center mt-4">
            <a href="/news" class="btn btn-secondary" style="background-color:#0f253f;color:#fff">
              Back
            </a>
        </div> 
    </section>
  {% endif %}
{% endblock %}
