    {% extends "site/base.layout.twig" %}


    {% block content %}
    <section class="terms-conditions">
        <h1 class="text-center">{{ widgets['terms_widget'].heading }}</h1>

        <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-10 policy items">
                        <div class="terms-box">
                            <div class="row">
                                <div class="col-md-1"></div>
                                <div class="col-md-10">
                                    {{ widgets['terms_widget'].content | raw }}
                                </div>
                                <div class="col-md-1"></div>
                            </div>        
                        </div>
                </div>
                <div class="col-md-1"></div>
        </div>  
    </section>

    {% endblock %}


