@font-face {
  font-family: 'bebasregular';
  src: url("../fonts/BEBAS___-webfont.eot");
  src: url("../fonts/BEBAS___-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/BEBAS___-webfont.woff") format("woff"), url("../fonts/BEBAS___-webfont.ttf") format("truetype"), url("../fonts/BEBAS___-webfont.svg#bebasregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
.shadow {
  box-shadow: 1px 5px 24px -1px #5d5050;
}

body {
  background-image: url(../images/bg-pattern.jpg);
}

.navbar {
  border-top: 8px solid #1bb6e0;
  padding: 11px 0 0 0;
  min-height: 90px;
}
.navbar button {
  margin-top: 1.3rem;
}
@media (max-width: 576px) {
  .navbar button {
    right: -2rem;
  }
}
/* .navbar .navbar-brand {

} */
.navbar .navbar-nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
}
.navbar .navbar-nav li a {
  color: #ffffff;
  margin-right: 50px;
}
.navbar .navbar-nav li a:hover {
  border-bottom: 2px solid #1bb6e0;
}

.wrapper {
  margin-top: 73px;
  padding: 0;
  overflow: hidden;

}
.wrapper .heritage {
  padding-top: 56px;
  padding-bottom: 85px;
  background-color: #ffffff;
}
.wrapper .heritage h2 {
  color: #0f243e;
  text-align: center;
  font-family: 'bebasregular';
  font-size: 36px;
  padding-bottom: 1.5rem;
}
.wrapper .heritage .excerpt {
  width: 24.8rem;
  max-height: 262px;
  overflow-y: hidden;
}
@media (max-width: 768px) {
  .wrapper .heritage .excerpt {
    margin: 0 auto;
  }
}
.wrapper .heritage .artwork .artwork-img .artwork-pegger {
  overflow: hidden;
}
.wrapper .heritage .artwork .artwork-img .artwork-pegger img {
  width: 100%;
}
.wrapper .branding {
  background: url(../images/blue_texture.jpg);
  min-height: 503px;
}
.wrapper .branding .brands .brand {
  padding-top: 87px;
}
.wrapper .branding .brands .brand .drink-img .drink-pegger {
  overflow: hidden;
}
@media (max-width: 768px) {
  .wrapper .branding .brands .brand .drink-img .drink-pegger img {
    margin: auto 129px;
  }
}
.wrapper .branding .brand-text {
  padding-top: 40px;
}
.wrapper .branding .brand-text h2 {
  color: #ffffff;
  text-align: center;
  font-size: 42px;
  text-shadow: 1px 1px 3px #000000;
  padding-bottom: 1.5em;
}
.wrapper .branding .brand-text .brand-copy {
  width: 20rem;
  max-height: 248px;
  overflow-y: hidden;
}
@media (max-width: 768px) {
  .wrapper .branding .brand-text .brand-copy {
    margin: 0 auto;
  }
}
.wrapper .branding .brand-text .brand-copy p {
  color: #ffffff;
  text-align: justify;
}
.wrapper .brand-building {
  background-color: #ffffff;
}
.wrapper .brand-building .bd1 {
  padding: 0;
}
.wrapper .brand-building .bd2 {
  padding: 0;
}
.wrapper .brand-building .bd2 h2 {
  font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  padding-top: 2.6rem;
  font-size: 1.3rem;
}
@media (max-width: 992px) {
  .wrapper .brand-building .bd2 h2 {
    padding-top: 1rem;
    font-size: 1.2rem;
  }
}
.wrapper .brand-building .bd2 p {
  text-align: justify;
  margin: 0 auto;
  max-height: 200px;
  overflow-y: hidden;
}
@media (max-width: 992px) {
  .wrapper .brand-building .bd2 p {
    font-size: 0.8rem;
  }
}
.wrapper .brand-building .bd2 .more-link {
  padding-top: 1rem;
}
.wrapper .brand-building .bd2 .more-link a {
  color: #ffffff;
  font-family: "bebas";
}
.wrapper .brand-building .bd3 {
  padding: 0;
}
@media (max-width: 768px) {
  .wrapper .brand-building .bd3 {
    margin: 15px;
  }
}
.wrapper .brand-building .bd3 h2 {
  font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  padding-top: 2.6rem;
  font-size: 1.3rem;
}
@media (max-width: 992px) {
  .wrapper .brand-building .bd3 h2 {
    padding-top: 1rem;
    font-size: 1.2rem;
  }
}
.wrapper .brand-building .bd3 p {
  text-align: justify;
  margin: 0 auto;
  max-height: 200px;
  overflow-y: hidden;
}
@media (max-width: 992px) {
  .wrapper .brand-building .bd3 p {
    font-size: 0.8rem;
  }
}
.wrapper .brand-building .bd3 .more-link {
  padding-top: 1rem;
}
.wrapper .brand-building .bd3 .more-link a {
  color: #ffffff;
  font-family: "bebas";
}
.wrapper .brand-building .bd4 {
  padding: 0;
}
.wrapper .footer {
  background-color: red;
  min-height: 24.3rem;
  padding-top: 3.9rem;
}

.wrapper .footer h2 {
  color: #ce9d5e;
  text-shadow: 1px 5px 5px #000000;
  padding-bottom: 1.2rem;
  font-size: 2em;
}
.wrapper .footer p {
  color: #ffffff;
}
.wrapper .footer .newsletter form input {
  margin: -1px 0;
}
.wrapper .footer .social ul {
  list-style-type: none;
  padding: 0;
}
.wrapper .footer .social ul li {
  display: inline-block;
  margin-right: 8px;
}
.wrapper .footer .social ul li a {
  color: #ffffff;
}
.wrapper .footer .social ul li a i {
  font-size: 30px;
}
.wrapper .contact-promo {
  background: url(../images/contact-jumbotron.jpg) no-repeat;
  background-size: cover;
  height: 28rem;
  text-align: center;
}
.wrapper .contact-promo .contact-intro {
  min-height: 28rem;
  background-color: rgba(12, 35, 64, 0.29);
  color: #ffffff;
}
.wrapper .contact-promo .contact-intro .contact_intro_content {
  max-width: 60.9rem;
  margin: 0 auto;
}
.wrapper .contact-promo .contact-intro .contact_intro_content h2 {
  font-family: "Bebas Neue";
  font-size: 3em;
  padding-bottom: 1.6rem;
  border-bottom: 3px dotted #ffffff;
  letter-spacing: 3px;
}
.wrapper .contact-form {
  padding-top: 3rem;
  background-color: #f9f8f8;
}
.wrapper .contact-form .main-form h2 {
  border-bottom: 2px solid #999999;
  padding-bottom: 1.6rem;
}
.wrapper .contact-form .main-form h4 {
  padding-top: 1rem;
}
.wrapper .contact-form .main-form p {
  padding-top: 1rem;
}
.wrapper .contact-form .main-form .ledrop-form {
  padding-top: 1.3rem;
}
.wrapper .address-map {
  background-color: #f9f8f8;
  padding-bottom: 5.7rem;
}
.wrapper .address-map .contact-box h2 {
  padding-bottom: 1.3rem;
  border-bottom: 2px solid #999999;
}
.wrapper .address-map .contact-box .address-list {
  padding-top: 1.3rem;
}
.wrapper .news-promo {
  background: url(../images/news-jumbotron.jpg) no-repeat;
  background-size: cover;
  height: 28rem;
  text-align: center;
}
.wrapper .news-promo .news-intro {
  min-height: 28rem;
  background-color: rgba(12, 35, 64, 0.29);
  color: #ffffff;
}
.wrapper .news-promo .news-intro .news_intro_content {
  max-width: 60.9rem;
  margin: 0 auto;
}
.wrapper .news-promo .news-intro .news_intro_content h2 {
  font-family: "Bebas Neue";
  font-size: 3em;
  padding-bottom: 1.6rem;
  letter-spacing: 3px;
}
.wrapper .news-listing {
  background-color: #f9f8f8;
  padding-top: 5.6rem;
}
.wrapper .news-listing .news-item {
  padding-top: 2.7rem;
  padding-bottom: 2.7rem;
  border-bottom: 1px solid #999999;
}
.wrapper .news-listing .news-item img {
  padding-bottom: 2.5rem;
}
.wrapper .news-listing .news-item h3 {
  text-transform: uppercase;
  font-size: 1.3rem;
  padding-bottom: 1rem;
}
.wrapper .news-listing .news-item .date p {
  padding-bottom: 0;
  font-style: italic;
}
.wrapper .news-listing .news-item p {
  padding-bottom: 3rem;
}
.wrapper .news-listing .news-item .lbutton a {
  font-family: bebas;
  color: #ffffff;
}
.wrapper .news-listing .news-grouping h2 {
  border-bottom: 2px solid #999999;
  padding-bottom: 1.3rem;
}
.wrapper .brands-promo {
  background: url(../images/brands-jumbotron.jpg) no-repeat;
  background-size: cover;
  height: 28rem;
  text-align: center;
}
.wrapper .brands-promo .brands-intro {
  min-height: 28rem;
  background-color: rgba(12, 35, 64, 0.29);
  color: #ffffff;
}
.wrapper .brands-promo .brands-intro .brands_intro_content {
  max-width: 60.9rem;
  margin: 0 auto;
}
.wrapper .brands-promo .brands-intro .brands_intro_content h2 {
  font-family: "Bebas Neue";
  font-size: 3em;
  padding-bottom: 1.6rem;
  letter-spacing: 3px;
}
.wrapper .brand-listing {
  text-align: center;
  background-color: #f9f8f8;
}
.wrapper .brand-listing .drink-list {
  padding-top: 2rem;
  padding-bottom: 3rem;
}
.wrapper .brand-listing .drink-list h1 {
  font-size: 3rem;
  text-transform: uppercase;
  padding-bottom: 3rem;
}
.wrapper .brand-listing .drink-list .drink-item h3 {
  padding-top: 1rem;
  font-family: "Bebas Neue";
  font-size: 2.25rem;
  margin-bottom: 0;
}
.wrapper .brand-listing .drink-list .drink-item a {
  border: 1px solid #0f243e;
  padding: 0.25rem 2.5rem;
}
.wrapper .company-promo {
  background: url(../images/company-jumbotron.jpg) no-repeat;
  background-size: cover;
  height: 28rem;
  text-align: center;
}
.wrapper .company-promo .company-intro {
  min-height: 28rem;
  background-color: rgba(12, 35, 64, 0.29);
  color: #ffffff;
}
.wrapper .company-promo .company-intro .company_intro_content {
  max-width: 60.9rem;
  margin: 0 auto;
}
.wrapper .company-promo .company-intro .company_intro_content h2 {
  font-family: "Bebas Neue";
  font-size: 3em;
  padding-bottom: 1.6rem;
  letter-spacing: 3px;
}
.wrapper .about-company {
  background-color: #f9f8f8;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}
.wrapper .about-company h1 {
  text-align: center;
  padding-bottom: 2.5rem;
}
.wrapper .our-values {
  background-color: #f9f8f8;
  padding-bottom: 3rem;
}
.wrapper .our-values h1 {
  text-align: center;
  padding-bottom: 3rem;
}
.wrapper .our-values .value-list {
  padding-bottom: 1.5rem;
}
.wrapper .our-values .value-list .value-content h3 {
  color: #444444;
  font-size: 1.2rem;
}
.wrapper .drink {
  background-color: #f9f8f8;
}
.wrapper .drink .drink-brand h1 {
  font-family: Bebas Neue;
  padding-top: 3.1rem;
  padding-bottom: 4rem;
  font-size: 3rem;
}
.wrapper .drink .drink-excerpt h1 {
  color: #0066b4;
  font-size: 3rem;
  font-family: bebas;
  padding-bottom: 3.5rem;
}
.wrapper .drink .drink-excerpt p {
  font-size: 2.1rem;
  font-family: roboto;
}
.wrapper .login {
  background-color: #f9f8f8;
  padding-top: 10rem;
  padding-bottom: 20rem;
}
.wrapper .login .fieldset {
  border: 1px solid #c7cdd1;
  border-radius: 10px;
}
.wrapper .login .fieldset h1 {
  font-size: 3rem;
  padding-top: 2rem;
  padding-bottom: 4rem;
  color: #0f243e;
}
.wrapper .login .login-button .btn-login {
  padding: 0.5rem 3rem;
  font-family: Bebas Neue;
  font-size: 1.5rem;
}
.wrapper .login .Links {
  padding-top: 1.2rem;
}
.wrapper .login .Links a {
  width: 8.9rem;
  margin: 0 auto;
  display: inline-block;
  text-align: center;
  color: #999999;
}
.wrapper .login .tos {
  padding-top: 4rem;
}
.wrapper .login .tos .tosa p {
  color: #999999;
}
.wrapper .login .tos .tosa p a {
  color: #1bb6e0;
}
.wrapper .portfolio-promo {
  background: url(../images/portfolio_jumbotron.jpg) no-repeat;
  background-size: cover;
  height: 28rem;
  text-align: center;
}
.wrapper .portfolio-promo .portfolio-intro {
  min-height: 28rem;
  background-color: rgba(12, 35, 64, 0.29);
  color: #ffffff;
}
.wrapper .portfolio-promo .portfolio-intro .portfolio_intro_content {
  max-width: 60.9rem;
  margin: 0 auto;
}
.wrapper .portfolio-promo .portfolio-intro .portfolio_intro_content h2 {
  font-family: "Bebas Neue";
  font-size: 1.5rem;
  padding-bottom: 1.6rem;
  letter-spacing: 3px;
}
.wrapper .partners {
  padding-top: 5rem;
  background-color: #f9f8f8;
}
.wrapper .partners .partner-item {
  padding-top: 4rem;
  padding-bottom: 2rem;
}
.wrapper .partners .partner-item h4 {
  font-family: Helvetica, sans-serif;
  padding-bottom: 2rem;
}
.wrapper .partners .partner-item p {
  font-family: roboto;
}
.settings-link {
  display: block;
}
