/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
}

/*
 * Typography
 */

h1 {
  margin-bottom: 20px;
  padding-bottom: 9px;
  border-bottom: 1px solid #eee;
}

.page-header {
  margin-top: -25px;
}

/*
 * Sidebar
 */

.page__headerTitle {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 15px;
}

.page__toolBar {
  margin: 5px;
  margin-bottom: 15px;
}

.sidebar {
  position: fixed;
  top: 37px;
  bottom: 0;
  left: 0;
  z-index: 100;
  padding: 20px;
  overflow-x: hidden;
  overflow-y: auto; 
}

/* Sidebar navigation */
.sidebar {
  padding-left: 0;
  padding-right: 0;
}

.sidebar .nav {
  margin-bottom: 20px;
}

.sidebar .nav-item {
  width: 100%;
}

.sidebar .nav-item + .nav-item {
  margin-left: 0;
}

.sidebar .nav-link {
  border-radius: 0;
}

.sidebar a {
    text-decoration: none;
    display: block;
    padding: 7px; 
    border-bottom: 1px solid #ddd;
    color: #fff;
}

.sidebar a:hover {
  background-color: #fff;
  color: #02161b;
  border-left: 4px solid black;
}

.sidebar .active {
  background-color: #fff;
  color: #02161b;
  border-left: 4px solid black;    margin-top: -2px;
}

.sidebar .active a {
    color: #02161b;
}


.green {
  color: green;
}

.white {
  color: white; 
}

input.form-control {
    font-size: 16px;
}

input.has-error {
    border-color: red;
}


.select2-container {
  width: 100% !important;
}

.red {
    color: red;
}

.gallery-item a {
    text-decoration: none;
    display: block;
    width: 100%;
}

th, tr {
    font-weight: 400;
}

.card .card-header,
.card .card-footer {
    background-color: white;
}


.group-card {
    padding: 0.25rem;
}
.group__item,
.card-block .list-group-item {
    padding: 1px;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.04);
    margin-bottom: 0;
}
.group__item:last-child,
.card-block .list-group-item:last-child  {
    border-bottom: 0;
}

.group__item label,
.card-block .list-group-item label {
    margin: 0;

}

.accordion__list ul {
    padding: 0;
}

#accordion h5 {
    font-size: 16px;
}

.info-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100px;
  width: 200px;
  border-radius: 4px;
  background-color: #fff;
  color: #02161b;
  margin: .5rem;
  box-shadow: 0px 0px 1px 0px black;
}
