{% extends "admin/layout/dashboard.twig" %}


{% block page_heading %}
<div class="page-header">
	<h1 class="page__headerTitle">Something went wrong</h1>
</div> 
{% endblock %}


{% block section %} 
  
{% endblock %} 

