<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/css/bootstrap.css">
  <link rel="stylesheet" href="/css/font-awesome.min.css">
  <link rel="stylesheet" href="/css/styles.css">
  <title>Document</title>
</head>
<body style="background-color: #f7f7f7">

  <div class="container">
    <div class="row">
        <div class="col-md-4 offset-md-4 card p-4 mt-5">

        {% if error %}
            <div class="alert alert-danger" role="alert">
               
                <i class="fa fa-exclamation-circle"></i>&nbsp;
                <strong> {{ error }} </strong>
            </div>
        {% endif %} 
        {% if success %}
            <div class="alert alert-success" role="alert">
                <strong>{{ success }} </strong>
            </div>
        {% endif %} 
            <div class="card-header" style="font-weight:bold">User Login</div>

            <div class="login card-block">
                <form action="{{ path_for('postLogin') }} "method="post">
                    <div class="form-group">
                      
                        <label for="username">Username</label> 
                        <!-- todo => use input group for the username-->
                        <input class="form-control" 
                                type="text" placeholder="Username" 
                                id="username" 
                                name="username" required /> 
                    </div>
                        
                    <div class="form-group">
                        <label for="password">Password</label> 
                        <input class="form-control" 
                              type="password" 
                              placeholder="*********" 
                              id="password" 
                              name="password" required>
                    </div>

                    <div class="form-group">
                        <label for="remember-me">
                          <input id="remember-me" type="checkbox" name="remember-me">&nbsp;Remember me
                        </label> 
                    </div>

                    <div class="form-group">
                        <input type="submit" class="btn btn-block btn-success" value="Login">
                    </div> 
                </form>
                <a class="btn btn-secondary btn-block" href="{{ path_for('getResetPasswordForm') }}">Reset Password</a>
            </div>

        </div>

      </div>
  </div>
<script src="/js/jquery.js"></script>
<script src="/js/bootstrap.js"></script>
</body>
</html>


