<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/css/bootstrap.css">
  <link rel="stylesheet" href="/css/styles.css">
  <title>Reset Password</title>
</head>
<body style="background-color: #f7f7f7">

  <div class="container">
    <div class="row">
        <div class="col-md-4 offset-md-4 card p-4 mt-5">

        {% if error %}
            <div class="alert alert-danger" role="alert">
                <strong>{{ error }} </strong>
            </div>
        {% endif %} 
            <div class="card-header" style="font-weight:bold">Reset Password</div>

            <div class="login card-block">
                <form action="{{ path_for('postResetPasswordForm') }} "method="post">

                    <div class="form-group">
                        <label for="email">Email Address</label> 
                        <!-- todo => use input group for the username-->
                        <input class="form-control" 
                                type="email" placeholder="Email address" 
                                id="email" 
                                name="email" /> 
                        <small class="text-muted">This is your user account email</small>
                    </div>

                    <div class="form-group">
                        <input type="submit" class="btn btn-block btn-warning" value="Submit">
                    </div> 

                    <small class="text-muted" >A link will be sent to your email, please follow the link to reset your password. 
                      <b>Link expires after an hour.</b>
                    </small>
                    <hr>
                    <a class="btn btn-secondary btn-block" href="{{ path_for('getLogin') }}">Back</a>                    
            </div>
        </div>
      </div>
  </div>
<script src="/js/jquery.js"></script>
<script src="/js/bootstrap.js"></script>
<script>
  
</script>
</body>
</html>


